<html>
   <body>
      
      <form name = "form" 
         method = "POST" >{% csrf_token %}
         
         <div style = "max-width:470px;  margin-top:5% ;margin-left:20%">
            <center> 
               <input type = "text" style = "margin-left:20%; height:35px;" 
                  placeholder = "Search" name = "search_words" />
               <button style = "border:2px; background-color:#4285F4;;
                  height:35px; width:15%;;" type = "submit" 
                  value = "Search" >
                  <strong>Search</strong>
               </button>
            </center>
         </div>
			
         <br>
        
         
        
      </form>
      
   </body>
</html>
